@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body{
    background-color: #F5ECC2;
    color: #5D3813;
}

a{
    text-decoration: none;
    color: #F5ECC2;
}

.botao{
    text-decoration: none;
    color: #5D3813;
}

ul{
    list-style: none;
}

nav{
    background-color: #457D43;
    display: flex;
    align-items: center;
    position: relative; 
    padding: 0 2rem;

}

.menu{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 7.3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.modal-container1 {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.active {
    display: flex;
}

.active .modal1 {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

span {
    margin: 10px auto;
}

 @media (max-width: 500px) {
    .modal1 {
        padding: 10px;
        width: 80%;
    }
 }
