@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body{
    background-color: #F5ECC2;
    color: #5D3813;
}

a{
    text-decoration: none;
    color: #F5ECC2;
}

ul{
    list-style: none;
}

nav{
    background-color: #457D43;
    display: flex;
    align-items: center;
    position: relative; 
    padding: 0 2rem;

}

.menu{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 7.3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
