@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body{
    background-color: #F5ECC2;
    color: #5D3813;
}

a{
    text-decoration: none;
    color: #F5ECC2;
}

.botao{
    text-decoration: none;
    color: #5D3813;
}

ul{
    list-style: none;
}

nav{
    background-color: #457D43;
    display: flex;
    align-items: center;
    position: relative; 
    padding: 0 2rem;

}

.menu{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 7.3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

/* Começo do Modal */

.modal-container1, .modal-container2, .modal-container3,.modal-container4 {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal1, .modal2, .modal3, .modal4 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.active {
    display: flex;
}

.active .modal1, .modal2, .modal3, .modal4 {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

span {
    margin: 10px auto;
}

 @media (max-width: 500px) {
    .modal1, .modal2, .modal3, .modal4 {
        padding: 10px;
        width: 80%;
    }
 }
 /* Fim do Modal */

 /* Saiba Mais */

#titulo_saibam {
    padding-top: 4vh;
    height: 14vh;
    text-align: center;
    font-size: 30px;
    font-family: "Lora", sans-serif;
}

#saiba_mais {
    background-color: #457D43;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    gap: 20px;
}

.coluna_saibam {
    flex: 1; /* Faz as 3 colunas dividirem o espaço igualmente */
    max-width: 300px;
}

.saibam {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
    margin-bottom: 10px;
}

.resposta_saibam {
    font-weight: 100;
    line-height: 1.5;
}
